@import "src/scss/index";

.sidebar-btn {
  position: absolute;
  top: 600px;
  left: 1400px;
  font-size: 72px;
  color: $lightBrown;
  &:hover, &:active{
    color: $darkBrown;
  }
}
.active-note {
  height: 100vh;
}

.no-active-note {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}